server {

    listen       ${NGINX_PORT};
    server_name  ${NGINX_HOSTNAME};


    location / {
      proxy_set_header Host             $host;
      proxy_set_header X-Real-IP        $remote_addr;

      root   /usr/share/nginx/html;
      index  index.html index.htm;
    }
}