<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
<form method="post">
    <input type="number" name="invitees_amount" value="{{ invitees_amount }}"/>
    <input type="text" name="comment" value="{{ comment }}"/>
    <input type="submit">
</form>
<p>Result: {{ result }}</p>
<div>
    <table style="width:100%">
        {% for i in userInvitations %}
          <tr>
             <td>{{i}}</td>
          </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>