<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
    <style>
        /*
        body {background-color: powderblue;}
        .header    {color: red;}
        */
        .row   {
            display: flex;
            justify-content: space-around;
            }
    </style>
</head>
<body>
<form method="post">
    <input type="text" name="table_name" value="{{ table_name }}"/>
    <input type="submit">
</form>
<!-- <p>Result: {{ result }}</p> -->
<div class="table"><div class="header">
{% for i in result %}
<div class="row">
    <div class="guard_id"> {{ i[0] }} </div>
    <div class="guard_name"> {{ i[1] }} </div>
</div>
{% endfor %}
</div></div>
</body>
</html>