.header{
    padding-right: 10px;
    padding-left: 10px;
    background-color: #190b40;
    color: white;
}


.nav {
    height: 15vh ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
.nav_items {
    list-style: none;
    display: flex;
  
  }
.nav_items > li {
  color: white;
    padding: 10px;
  }
  
.nav_title {
    text-decoration-color: white;
    color: white;
    padding: 10px;
  }

.App-logo-small {
    height: 10vmin;
    pointer-events: none;
  }


.background{
    background-color: #3b2d62;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.center{
    flex-direction: column;
  align-items: center;

}
